extends ../layouts/dashboard.pug

block content
  div.container
    div.section
      div.card
        div.card-content
          div.column
            h2.title.is-6 #{story.title}
            h4.subtitle.is-6 #{story.createdAt.toDateString()}
            div.content #{story.body}

      a.level.is-mobile(href=`/stories/user/${story.user._id}`)
        div.level-left
          div.level-item
            figure.image.is-32x32
              img.is-rounded(src=story.user.image)
          div.level-item
            p #{story.user.displayName}  